.button{
  border: none;
  background: #AD1FEA;
  border-radius: 10px;
  padding: 12px 24px;
  color: #F2F4FE;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s ease all;
}

.button__edit{
  background: #4661E6;
  text-decoration: none;
}

.button:hover{
  background: #C75AF6;
}

.button__edit:hover{
  background: #7C91F9;
}

.button__add{
  text-decoration: none;
}
@media only screen and (max-width: 920px) {
  .button{
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 790px) {
  .button{
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 776px) {
  .button{
    padding: 7px 14px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 710px) {
  .button{
    padding: 7px 10px;
    font-size: 13px;
  }
}