.button{
  border: none;
  background: #AD1FEA;
  border-radius: 10px;
  padding: 12px 24px;
  color: #F2F4FE;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s ease all;
}

.button__edit{
  background: #4661E6;
  text-decoration: none;
}

.button:hover{
  background: #C75AF6;
}

.button__edit:hover{
  background: #7C91F9;
}

.button__add{
  text-decoration: none;
}

.button__cancel{
  background: #3A4374;
  text-decoration: none;
  transition: 0.3s ease all;
}

.button__cancel--edit{
  margin-right: 16px;
}

.button__cancel:hover{
  background: #656EA3;
}

.button__delete{
  background: #D73737;
}

.button__delete:hover{
  background: #E98888;
}

@media only screen and (max-width: 920px) {
  .button{
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 804px) {
  .button__add{
    font-size: 13px !important;
    padding: 8px 10px !important;
  }
}

@media only screen and (max-width: 790px) {
  .button{
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 776px) {
  .button{
    padding: 7px 14px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 750px) {
  .button__add{
    font-size: 13px !important;
    padding: 5px 10px !important;
  }
}

@media only screen and (max-width: 712px) {
  .button__add{
    padding: 7px 10px !important;
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 700px) {
  .button__add{
    padding: 12px 25px !important;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 530px) {
  .button__add{
    padding: 10px 15px !important;
    font-size: 12px !important;
  }
}