.add-page__label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  color: #3A4374;
  margin-bottom: 24px;
}

.add-page__label-span {
  display: block;
  font-size: 14px;
  color:#647196;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 16px;
}

.add-page__select {
  outline: none;
  width: 100%;
  padding: 14px 24px;
  border: none;
  background: #F7F8FD;
}