.feedback{
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 28px 32px;
  margin-bottom: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.feedbacks__comments-page{
  margin-top: 24px;
}

.feedback:hover > .feedback__content-wrapper > .feedback__content > .feedback__item-title{
 transition: 0.3s ease all;
 color: #4661E6;
}

.feedback:last-child{
  margin-bottom: 0;
}

.feedback__button-like{
  border: none;
  margin: 0;
  padding: 11px;
  background: #F2F4FE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease all;
}

.feedback__button-img{
  margin-bottom: 8px;
}

/* .feedback__button-span{
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 19px;
  height: 12px;
  background-position: center center;
}
  .feedback__button-span::before,
  .feedback__button-span::after{
    content: '';
    display: block;
    width: 10px;
    height: 3px;
    background-color:#4661E6;
    transition: 0.2s ease all;
  }

  .feedback__button-span::before{
    transform: translateY(50%) rotate(45deg);
  }
  .feedback__button-span::after{
    transform: translateX(-60%) translateY(-50%) rotate(-45deg);
  }  */

.feedback__button-like:hover{
  background: #CFD7FF;
}



.feedback__button-like:active{
  transition: 0.05s ease all;
  background: #4661E6;
}

.feedback__arrow-like{
  display: block;
  margin-bottom: 8px;
}

.feedback__content-wrapper{
  display: flex;
  align-items: flex-start;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.180556px;
  color: #3A4374;
}

.feedback__content{
  text-align: left;
  margin-left: 40px;
}

.feedback__item-title{
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
  text-decoration: none;
}

.feedback__reason{
  margin: 0;
  line-height: 23px;
  color: #647196;
  margin-top: 4px;
  margin-bottom: 12px;
}

.feedback__type{
  margin: 0;
  font-weight: 600;
  padding: 6px 16px;
  font-size: 13px;
  line-height: 19px;
  color: #4661E6;
  background: #F2F4FF;
  border-radius: 10px;
  display: inline-block;
}

.feedback__comment{
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.222222px;
  color: #3A4374;
  position: relative;
  margin-left: 25px;
}

.feedback__comment::before{
  content: '';
  display: block;
  background-image: url("../../assets/images/comment.svg");
  width: 18px;
  height: 16px;
  position: absolute;
  bottom: 3px;
  left: -25px;
}

@media only screen and (max-width: 920px) {
  .feedback{
    padding: 25px 30px;
  }
}

@media only screen and (max-width: 775px) {
  .feedback{
    padding: 15px 20px;
  }

  .feedback__item-title{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
  }

  .feedback__content{
    margin-right: 15px;
  }
}