.intro{
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 10px;
  padding: 62px 70px 24px 24px;
  margin-bottom: 24px;
  max-width: 255px;
  box-sizing: border-box;
  transition: 0.3s ease all;
}

.intro:hover{
  transform: scale(1.1);
}

.intro__mentor{
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
}

.intro__board{
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}


@media only screen and (max-width: 862px) {
  .intro{
    padding-top: 50px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 775px) {
  .intro__mentor{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
  } 
}

@media only screen and (max-width: 700px) {
  .intro{
    margin-bottom: 0;
  }
}