  

.types__label {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.types__input:checked + .types__span {
  background: #4661E6;
  border-radius: 10px;
  padding: 6px 15px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
  transition: 0.3s ease all;

  &:hover {
    background: #CFD7FF;
  }
}

.types__span {
  background: #F2F4FF;
  border-radius: 10px;
  padding: 6px 15px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #4661E6;
  transition: 0.3s ease all;
  
  &:hover {
    background: #CFD7FF;
  }
}
